.image-container{
  margin-top: 20px;
}

.image-container img {
  object-fit: cover;
  border-radius: 4px;
  scale: 1;
}

.image:hover, .image:focus {
  cursor: pointer;
  transition: scale 200ms;
  scale: 1.04;
}
