:root {
  --color: rgb(143, 0, 190);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  box-sizing: border-box;
  padding: 10px 20px;
  border-bottom: 1px solid black;
}


.navigation-container {
  display: flex;
  flex-direction: column;
}

.link:hover,
.link:focus {
  color: var(--color);
  text-decoration: underline;
}

.active {
  color: var(--color);
  text-decoration: none;
}

@media screen and (min-width: 768px) {
.navigation-container {
  flex-direction: row;
  gap: 20px;
}


}
